button {
    color: #000;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 1em 2em;
    margin: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #80c299;
  }

  
  .boton-reiniciar {
    background-color: #a993bd;
  }