button {
    color: #000;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 1em 2em;
    margin: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #03953b;
  }
  
  .boton-clic {
    background-color: #2b51bb;
  }
  
  .boton-reiniciar {
    background-color: #9552d0;
  }